<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">

    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/underscore-1.4.4.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/js/eventsCtrl.js"></script>
    <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
    <script type="text/javascript" src="js/map.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/Login.css"/>
    <title>Login</title>

</head>
<body class="marginTop" ng-app="eventsApp" ng-controller="eventsCtrl">
    <div class="container"> 
        <h1> 
      <span style="color:green"></span> 
      <button class='btn btn-success pull-right' ng-click="admin()">Admin</button> 
    </h1>
    </div>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Login Form -->
        <form>
            <input type="submit" class="fadeIn fourth" value="Register" ng-click="register()">
            <img src="image/user.png" class="img">
            <input type="text" id="email" class="fadeIn second" name="email" placeholder="email" ng-model="email.text">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" ng-model="password.text">
            <input type="submit" class="fadeIn fourth" value="Log In" ng-click="logIn()">
        </form>
    </div>
</div>

</body>
</html>
